$("<li><div class='commentText'><p><%= @comment.body %></p><span class='date sub-text'>" +
        "posted <%= pluralize(((Time.now - @comment.created_at) / 60).ceil, 'minute') %> by <%= @comment.user.email %></span></div></li>").hide().appendTo(".commentList").fadeIn(300);

$("textarea#comment_body").val('');