
<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<p id="notice"><%= notice %></p>
<p style="color: red; font-size: 120%"><%= flash[:error] ? flash[:error].join(', ') : '' %></p>

<%= render :partial => 'form' %>
