<p id="notice"><%= notice %></p>

<%= link_to 'Back', root_path, class: 'btn btn-default', style: 'padding: 8px 15px; margin-left: 4%;' %>

<div class="detailBox">
  <div class="titleBox">

    <p>
      <strong><%= @post.title %></strong>
    </p>

  </div>
  <div class="commentBox">

    <p class="taskDescription">
          <%= @post.body %>
    </p>

  </div>
  <div class="actionBox">
    <ul class="commentList">
      <% @comments.each do |comment| %>
          <li>
            <div class="commentText">
              <p class=""><%= comment.body %></p>
              <span class="date sub-text">
                posted <%= pluralize(((Time.now - comment.created_at) / 60).ceil, 'minute') %> by <%= comment.user.email %>
              </span>
            </div>
          </li>
      <% end %>
    </ul>

    <%= form_for([@post, Comment.new], remote: true) do |f| %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <br>
        <%= f.text_area :body, rows: '3' %>
        <br>
        <br>
        <%= f.submit 'Add Comment' %>
    <% end %>

  </div>
</div>