.navbar-brand {
  letter-spacing: 1.5px;
  font-size: 150%;
  padding: 13px 20px;
  display: inline-block;
}

a.navbar-brand:hover {
  background-color: transparent;
  text-decoration: none;
  color: #be4141;
}

.nav-users-management a {
  font-size: 120%;
  padding: 13px 20px;
  display: inline-block;
}

.nav-users-management a:hover {
  background-color: transparent;
  text-decoration: none;
  color: #be4141;
}