<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
	        ThellaBlog
	      </a>
          <div class="pull-right nav-users-management">
            <% if current_user %>            
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>     
            <% else %>            
              <%= link_to 'Login', new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %>              
            <% end %>            
          </div>
	    </div>
	  </div>
	</nav>

	<div class='container'>
		

		<div class="row">

			<div class="col-md-8">
				<%= yield %>
			</div>

		</div>		
	</div>
</body>
</html>
